#title{
  background-color: #ff4c68;
  color: #fff;
  background-image: url("images/pharma.jpg");
 background-color: #cccccc
 background-color: #cccccc;
 height: 500px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;

}

.title{
  font-family:"Faustina" ;

  font-size: 3rem;

}
.brand{
  font-family: Lato;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 147.5px;
  height: 21.5px;
}
h2{
  font-family:"Montserrat";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;

}
h3{
  font-family:"Montserrat";

  font-size: 1.5rem;

}
.P1{

  font-family: Faustina;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #100e7e;
  padding-bottom: 30px;
}
.r1{


  font-family: Lato;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.middle{
  background-image: url("images/photu.jpg");
 background-color: #cccccc;
 height: 500px;
 background-size: cover;
 position: relative;



}
.middle-title{

  height: 64.1px;
  font-family: Faustina;
  font-size: 80.6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding:14% 1%;

}
.symbol{

  color:#ef8172;
  margin-bottom: 1rem;

}
.container-fluid{
  padding: 3% 15%;
}
body{
  font-family:"Montserrat" ;
  font-weight: 200;

}
.navbar-brand{
  font-family:"ubuntu";
  font-size: 2rem;
  font-weight: bold;

}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
  padding: 0px 30px;

}
.nav-link{
  font-size: 1.4rem;
  font-family:"Faustina";
  color: #0f4c75;
}

.nav-link:hover {
  color: red;
}

/* dowload button */

.download-button{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
  width:60%;
  transform: rotate(25deg);
}
#features{
  padding: 7% 14%;
  height: 500px;

}
.feature-box{
  text-align: center;
  padding: 5%;
}
.symbol:hover {
  color: #ff4c68;
}

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color:#fff;
}

.testimonials-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;

}
.press-logo{
  width: 15%;
  margin:20px 20px 50px 20px;
}
.carousel-item{
  padding:7% 15%;

}
.record{
  text-align: center;
    padding:7% 15%;
}
.skill-row{
 width:90%;
  margin: 0;
  margin: 150px auto 150px auto;



}
.ph1{
  width: 35%;
  float:left;
}
.ph2{
    width: 35%;
    float:right;

}
.ph3{
    width: 35%;
    float: left;

}
.bottom{
background-color: #252a34;
padding:50px 0 20px;
color: #f6f6f6;
margin-bottom: 0px;
text-align: center;
height: 276px;
margin:auto;

}
.bp1{

  margin-top:5px;
  padding-top: 1px;}

.bp2{
  text-align: left;
  margin:none;
  padding-top: 1px;
}
